/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
  padding-top: 2rem;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

/* ============================================= */

.btn.focus, .btn:focus, .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.btn-close {
  cursor: pointer;
}
.page, .content, .mobile-nav-menu-container {
  position: relative;
}
.page::after {
  content: " ";
  clear: both;
  display: block;
}
.left-sidebar, .content {
  width: 100%;
}
.left-sidebar {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.page-cover, .content-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.page-cover {
  z-index: 999;
}
.content-cover {
  z-index: 9;
}
.cover-active {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .left-sidebar {
    float: left;
    width: 250px;
  }
  .content {
    float: right;
    width: calc(100% - 250px);
  }
}
.desktop-nav-menu-container, .mobile-nav-menu-container, .mobile-nav-menu {
  background: #eaf9ff;
}
.desktop-nav-menu-container .welcome-text {
  margin: 0 0 1rem;
}
.menu-list li {
  margin: 0 0 1rem;
}
.menu-list li:last-child {
  margin-bottom: 0;
}

/* mobile nav */
.mobile-nav-menu-container .welcome-text {
  flex-grow: 1;
  padding: 1rem;
}
.mobile-menu-btn i {
  cursor: pointer;
  width: 60px;
  height: 100%;
  border: 2px solid #32465a;
}
.mobile-nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 1rem 1rem;
}

/* Search */
.search-tutor-student-container {
  width: 100%;
  max-width: 1060px;
}
.filter-component, .filter-form-container {
  background-color: #fff;
}
.filter-component {
  position: sticky;
  top: 0;
  z-index: 99;
}
.filter-component-hidden, .filter-form-container {
  max-width: 400px;
}
.filter-form-container {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (max-width: 767px) {
  .filter-component {
    /* need to deal with height change */
    top: 56px;
  }
  .filter-component-hidden, .filter-form-container {
    max-width: 250px;
  }
}
/* search bar */
.search {
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgb(34 34 32 / 20%);
}
.search-1 {
  position: relative;
  width: 100%;
}
.search-1 input {
  height: 45px;
  border: none;
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
  border-right: 2px solid #dee2e6;
}
.search-1 input:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}
.search-1 i {
  position: absolute;
  top: 12px;
  left: 10px;
}
.search-2 {
  position: relative;
  width: 100%;
}
.search-2 input {
  height: 45px;
  border: none;
  width: 100%;
  padding-left: 18px;
  padding-right: 100px;
}
.search-2 input:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}
.search-2 i {
  position: absolute;
  top: 12px;
  left: -4px;
}
.search-2 button {
  position: absolute;
  right: 1px;
  top: 0px;
  border: none;
  height: 45px;
  color: #fff;
  width: 110px;
}
@media (max-width: 991px) {
  .search {
    padding: 4px;
  }
  .search-1 input {
      border-right: none;
      border-bottom: 1px solid #dee2e6;
      padding-left: 36px;
  }
  .search-1 i {
      left: 4px;
  }
  .search-2 i {
      left: 8px;
  }
  .search-2 input {
      padding-left: 36px;
  }
  .search-2 button {
      height: 38px;
      width: 80px;
      top: 5px;
  }
}
/* search result */
.search-result-card {
  cursor: pointer;
}
.search-result-card .card-img-top {
  position: relative;
  overflow: hidden;
}
.search-result-card img {
  width: 100%;
}
.card-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.search-result-card, .search-result-card img, .card-img-cover {
  transition: all 0.3s ease-in-out;
}
.search-result-card:hover {
  transform: translateY(-1%);
}
.search-result-card:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.search-result-card:hover .card-img-cover {
  background-color: rgba(0,0,0,0.25);
}

/* form */
label {
  text-align: left;
  display: block;
  margin-bottom: 0;
}
.hide-label {
  visibility: hidden;
}
input, textarea, select {
  width: 100%;
  padding: 6px 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/* login & signup */
.login-container, .signup-container {
  width: 80%;
  max-width: 400px;
  text-align: center;
}
.login-btn, .signup-btn {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .login-container, .signup-container {
    width: 100%;
  }
}

/* profile */
.profile-container {
  width: 80%;
  max-width: 400px;
}
.profile-info {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.profile-pic {
  width: 80px;
}
.profile-pic-mr {
  margin-right: 50px;
}
.profile-tab {
  width: 48%;
}
.profile-tab:only-child {
  width: 100%;
}
@media (max-width: 767px) {
  .profile-container {
    width: 100%;
  }
  .profile-pic {
    width: 60px;
  }
  .profile-pic-mr {
    margin-right: 30px;
  }
}

/* friend list */
.friendlist-container {
  width: 100%;
}
.friend-pic {
  width: 80px;
}
.friend-row:last-child .border-bottom {
  border: none!important;
}